/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB        &kp Q  &kp W        &kp E             &kp R  &kp T        &kp Z          &kp U  &kp I              &kp O            &kp P     &kp RA(LBKT)
&kp ESCAPE     &kp A  &mt LCTRL S  &mt LEFT_SHIFT D  &kp F  &kp G        &kp H          &kp J  &mt RIGHT_SHIFT K  &mt RIGHT_ALT L  &kp SEMI  &kp RA(RBKT)
&kp RA(MINUS)  &kp Y  &kp X        &kp C             &kp V  &kp B        &kp N          &kp M  &kp COMMA          &kp DOT          &kp FSLH  &kp RA(SQT)
                                   &kp LGUI          &mo 1  &kp SPACE    &kp BACKSPACE  &mo 2  &kp RIGHT_ALT
            >;
        };

        left {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp F1      &kp F2             &kp F3           &kp F4    &kp F5     &kp F6    &kp F7  &kp F8        &kp F9    &kp F10     &kp F11     &kp F12
&kp ESC     &kp N1             &kp N2           &kp N3    &kp N4     &kp N5    &kp N6  &kp N7        &kp N8    &kp N9      &kp N0      &kp PAGE_UP
&kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp LEFT  &kp RIGHT  &trans    &trans  &kp UP_ARROW  &kp DOWN  &kp INSERT  &kp DELETE  &kp PAGE_DOWN
                                                &trans    &trans     &trans    &trans  &kp ENTER     &trans
            >;
        };

        right {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp TAB            &kp EXCL   &kp AT     &kp HASH  &kp DLLR   &kp PRCNT           &kp CARET          &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR        &tog 3
&trans             &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp SINGLE_QUOTE    &kp DOUBLE_QUOTES  &kp LBRC  &kp RBRC  &kp PLUS  &kp UNDERSCORE  &trans
&kp RS(RA(EQUAL))  &kp GRAVE  &kp TILDE  &kp LEFT  &kp RIGHT  &trans              &trans             &kp UP    &kp DOWN  &kp PIPE  &kp BSLH        &trans
                                         &trans    &kp ENTER  &trans              &trans             &none     &trans
            >;
        };

        gaming {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Z   &kp U   &kp I      &kp O    &kp P     &trans
&kp ESC    &kp A  &kp S  &kp D     &kp F  &kp G        &kp H   &kp J   &kp K      &kp L    &kp SEMI  &trans
&kp LSHFT  &kp Y  &kp X  &kp C     &kp V  &kp B        &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                         &kp LGUI  &sl 1  &kp SPACE    &trans  &trans  &trans
            >;
        };
    };
};
